<template>
  <div>
    <Chart />
  </div>
</template>

<script>
import Chart from '../components/Chart.vue'

export default {
  name: 'Main',
  components: {
    Chart
  },
  data() {
    return {}
  }
}
</script>
