<template>
  <div class="chart">
    <canvas ref="canvas"></canvas>
  </div>
</template>

<script>
import { HorizontalBar } from 'vue-chartjs'
export default {
  name: 'Chart',
  components: {},
  data() {
    return {
      chartOptions: {
        title: {
          display: true,
          text: 'Where Are We Going to Land?',
          fontSize: 29,
          fontColor: 'darkBlue'
        },
        scales: {
          xAxes: [
            {
              scaleLabel: {
                display: true,
                labelString: '$ MLN',
                fontColor: 'darkBlue',
                fontSize: 17
              },
              ticks: {
                fontColor: 'darkBlue'
              }
            }
          ],

          yAxes: [
            {
              stacked: true,

              ticks: {
                fontColor: 'darkBlue',
                fontSize: 17
              }
            }
          ]
        },
        legend: {
          labels: {
            fontColor: 'black',
            fontWeight: 'bolder'
          }
        },
        layout: {
          padding: {
            left: 5,
            right: 5,
            top: 5,
            bottom: 10
          }
        }
      },
      chartData: {
        labels: [
          'CURRENT MO',
          'NEXT MO',
          'FOLLOWING MO',
          'CURRENT Q',
          'NEXT Q'
        ],
        datasets: [
          {
            label: 'CERTAIN',
            data: [1.7, 1.4, 1.45, 7.25, 7.49],

            backgroundColor: [
              'lightBlue',
              'lightBlue',
              'lightBlue',
              'lightBlue',
              'lightBlue'
            ],
            borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(255, 206, 86, 1)'
            ],
            borderWidth: 1
          },

          {
            label: 'EXPECTED',
            data: [2.2, 2.15, 2.1, 7.9, 8.15],
            backgroundColor: ['yellow', 'yellow', 'yellow', 'yellow', 'yellow'],
            borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)'
            ],
            borderWidth: 1
          },
          {
            label: 'UNLIKELY',
            data: [2.65, 2.75, 2.75, 8.65, 8.9],
            backgroundColor: ['red', 'red', 'red', 'red', 'red'],
            borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(255, 206, 86, 1)'
            ],
            borderWidth: 1
          }
        ]
      }
    }
  },
  extends: HorizontalBar,
  mounted() {
    this.renderChart(this.chartData, this.chartOptions)
  }
}
</script>
